body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.navbar {
    background-color: #ffb6c1;
}

.navbar-nav.ms-auto li a {
    color: #48443e;
}

.navbar-toggler {
    width: 10%;
}

.btn.btn-secondary.dropdown-toggle {
    color: #48443e;
    background-color: #ffb6c1;
    border-color: #ffb6c1;
}

@font-face {
    font-family: 'Font';
    src: url('../fonts/Dancing_Script/static/DancingScript-Bold.ttf');
}

h2 {
    font-family: Font;
    font-size: 50px;
    color: #ffb6c1;
}

